// @navbarHeight: 40px;

@import "bootstrap";
body {
  // padding-top: @navbarHeight + 20px;
}

@defaultWidth           : 100%;
@defaultMaxWidth        : 100%;
@horizontalPadding      : 20px;
@navTabHorizontalPadding: 10px;

@normText          : #333333;
@blueHover         : blue;

@imageThumbMaxHeight : 150px;
@imageThumbMaxWidth : 150px;

@inactiveIcon    : #8C8C8C;

/* optimizeLegibility breaks some unicode characters on Chrome */
h1, h2, h3, h4, h5, h6 {
  text-rendering: auto;
}

.monospaced-text {
  font-family: Monaco, "Liberation Mono", Courier, monospace;
}

.black-blue-link {
  a {
    &:link, &:visited {
      color: @normText;
      text-decoration: none;
    }
    &:hover {
      color: @blueHover;
      text-decoration: underline;
    }
  }
}
.glyphicon-inactive {
  color: @inactiveIcon;
}


.hidden {
  display: none;
}
.center-horizontal {
  text-align: center;
  margin-left: 0;
  margin-right: 0;
}
.tab-content {
  overflow: hidden;
}

.container {
  position: relative;
  width: @defaultWidth;
  max-width: @defaultMaxWidth;
  margin: 0 auto;
  padding-left: @horizontalPadding;
  padding-right: @horizontalPadding;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

/* goddammit css */
.navbar-inverse {
  min-height: 40px;
  margin-bottom: 0 !important;
  > .container {
    a.navbar-brand, .nav > li > a {
      padding-top: 10px;
      padding-bottom: 10px;
      color: white;
    }
  }
}

/* logo */
#logo {
  padding: 0 @horizontalPadding;
  width: 100%;
  a {
    font-weight: bold;
  }
  a,a:visited,a:hover,a:active {
    text-decoration: none;
  }
}

/* topbar */
#topbar {
  margin-right: 0;
  > div {
    padding-right: 0;
  }
  .main, .sub {
    padding: 0 (@horizontalPadding - @navTabHorizontalPadding);
    font-size: 18px;
  }
  .main {
    a {
      padding: 5px @navTabHorizontalPadding;
    }
    .login a {
      font-weight: bold;
      color: #e00;
    }
    .active {
      a {
        background: #f7f7ff;
        font-weight: bold;
      }
    }
  }
  .sub {
    .clearfix;
    list-style: none;
    background: #f7f7ff;
    li {
      float: left;
      margin: 0;
      a {
        padding: 6px @navTabHorizontalPadding;
      }
    }
  }
}

/* sidebar */
#sidebar {
  ul {
    padding-left: 10px;
    li {
      list-style: none;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }
}

.btn-item-select {

}
.btn-item-select-disabled {
  opacity: 0.6;
}
.btn-item-select-active {

}
.btn-item-selected {
  outline: 1px solid black;
}


#content {
  position: relative;
  .clearfix;
}

/* image grid, image row */
ul.image-grid, ul.image-row {
  .clearfix;
  margin: 0;
  padding: 1px;
  list-style: none;
  line-height: normal;
  min-height: 152px;
  min-width: 152px;
  margin: 0 auto;
  li {
    max-width: @imageThumbMaxWidth;
    max-height: @imageThumbMaxHeight;
    position: relative;
    margin: 1px;
    height: 150px;
    width: 150px;
    background-color: white;
    text-align: center;
    img {
      max-width: @imageThumbMaxWidth;
      max-height: @imageThumbMaxHeight;
    }
    .copy-button {
      position: absolute;
      float: right;
      display: none;
      padding: 5px;
    }
    .zeroclipboard-is-hover, .zeroclipboard-is-active {
      display: inline !important;
      right: 0;
    }
  }

  li:hover {
    .copy-button {
      display: inline !important;
      right: 0;
    }
  }
}
ul.image-grid {
  li {
    float: left;
  }
}
ul.image-row {
  display: table-row;
  li {
    display: table-cell;
    vertical-align: middle;
  }
}

/* copy/paste buttons */
.copy-button {
  top: 0px;
  background-image: -moz-linear-gradient(#fafafa, #eaeaea);
  background-image: -webkit-linear-gradient(#fafafa, #eaeaea);
  background-image: linear-gradient(#fafafa, #eaeaea);
  background-repeat: repeat-x;
}
.zeroclipboard-is-hover {
  background-color: #dadada;
  background-image: -moz-linear-gradient(#eaeaea, #dadada);
  background-image: -webkit-linear-gradient(#eaeaea, #dadada);
  background-image: linear-gradient(#eaeaea, #dadada);
}
.zeroclipboard-is-active {
  text-decoration:none;
  background-color:#dadada;
  background-repeat:repeat-x;
  background-image:none;
  border-color:#b5b5b5;
  box-shadow:inset 0 3px 5px rgba(0,0,0,0.15);
}
.eti-copy-fields {
  .copy-field {
    .monospaced-text;
    color: #999;
    background-color: #fff;
    cursor: text;
  }
}

/* images */
#image {
  position: relative;
  height: 100%;
  width: 100%;
}

.full-width {
  width: 100%;
  height: auto;
}
.full-height {
  height: 100%;
  width: auto;
}