@navbarHeight: 40px;

@import "bootstrap";
body {
    padding-top: @navbarHeight;
}

@defaultWidth      : 1000px;

@normText          : #333333;
@blueHover         : blue;

@imageThumbMaxHeight : 150px;
@imageThumbMaxWidth : 150px;

@inactiveIcon    : #8C8C8C;

/* optimizeLegibility breaks some unicode characters on Chrome */
h1, h2, h3, h4, h5, h6 {
  text-rendering: auto;
}

.monospaced-text {
  font-family: Monaco, "Liberation Mono", Courier, monospace;
}

.black-blue-link {
  a {
    &:link, &:visited {
      color: @normText;
      text-decoration: none;
    }
    &:hover {
      color: @blueHover;
      text-decoration: underline;
    }
  }
}
.glyphicon-inactive {
  color: @inactiveIcon;
}


.hidden {
  display: none;
}
.center-horizontal {
  text-align: center;
}
.tab-content {
  overflow: hidden;
}

.container {
  width: @defaultWidth;
  margin: 0 auto;
  position: relative;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

/* goddammit css */
.navbar-inverse {
  min-height: 40px;
  margin-bottom: 0 !important;
  > .container {
    a.navbar-brand, .nav > li > a {
      padding-top: 10px;
      padding-bottom: 10px;
      color: white;
    }
  }
}

ul.image-grid {
  .clearfix;
  margin: 0;
  padding: 1px;
  list-style: none;
  line-height: normal;
  min-height: 152px;
  min-width: 152px;
  li {
    float: left;
    max-width: @imageThumbMaxWidth;
    max-height: @imageThumbMaxHeight;
    position: relative;
    margin: 1px;
    background-color: white;
    text-align: center;
    img {
      max-width: @imageThumbMaxWidth;
      max-height: @imageThumbMaxHeight;
    }
  }
}

.eti-copy-fields {
  .copy-field {
    .monospaced-text;
    color: #999;
    background-color: #fff;
    cursor: text;
  }
  .copy-button {

  }
}